name: Lint, Build, Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint
      - name: build
        run: npm run build --if-present
      - name: test
        run: npm run test:cov
        env:
          CI: true
